<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Familias</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
	<div class="starter-template ">
	<h1>Gestión de Familias</h1>
	    <ul>
	        <li><a th:href="@{/familiasMenu/alta}">Dar de Alta una Familia</a></li>
			<li><a th:href="@{/familiasBuscar}">Listar Familias</a></li>
	    </ul>
		<hr/>
	</div>
	<div class="footer">
		  <a class="navegacion" th:href="@{/}">← Volver al Menú Principal</a>
	</div>
</body>
</html>