<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Buscar Familia</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>


<body>
	<h1>Buscar Familia</h1>

	<form th:action="@{/familiasBuscar}" th:object="${formBean}" method="post">
	    <label for="nombre">Nombre:</label>
	    <input type="text" th:field="*{nombre}" />
	    <br/>
	    <button type="submit" name="action" value="actionBuscar">Buscar</button>
	    <button type="submit" name="action" value="actionRegistrar">Registrar nueva familia</button>
	    <button type="submit" name="action" value="actionCancelar">Cancelar</button>
	</form>

	<h2>Listado de Familias</h2>
	<table border="1">
	    <thead>
	        <tr>
	            <th>Nro Familia</th>
	            <th>Nombre</th>
	            <th>Fecha Registro</th>
	            <th>Acciones</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="familia : ${familias}">
	            <td th:text="${familia.nroFamilia}"></td>
	            <td th:text="${familia.nombre}"></td>
	            <td th:text="${familia.fechaRegistro}"></td>
	            <td>
	                <a th:href="@{/familias/editar/{id}(id=${familia.nroFamilia})}">Editar</a> |
	                <a th:href="@{/familias/eliminar/{id}(id=${familia.nroFamilia})}">Eliminar</a>
	            </td>
	        </tr>
	    </tbody>
	</table>
</body>
</html>
