<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menú Principal</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>
   <div class="starter-template">
        <h1>Sistema de Gestión de Centros de Asistencia </h1>
        <h2>
            <span th:text="'Bienvenido'"></span>
        </h2>
    </div>
    

    <div class="menu">
        <a th:href="@{/familiasMenu}">Gestión de Familias</a>
        
    </div>
	
	<div class="menu">
	    <a th:href="@{/entregaAsistenciaMenu}">Gestionar entrega de raciones</a>
	    
	</div>

	<div class="menu">
	    <a th:href="@{/preparacionesMenu}">Gestión de Preparaciones</a>
	    
	</div>

</body>
</html>