<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Familias</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
    <h1>Listado de Familias</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nro Familia</th>
                <th>Nombre</th>
                <th>Fecha de Registro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="familia : ${familias}">
                <td th:text="${familia.nroFamilia}"></td>
                <td th:text="${familia.nombre}"></td>
                <td th:text="${familia.fechaRegistro}"></td>
                <td>
                    <a th:href="@{/familiasMenu/editar/{id}(id=${familia.nroFamilia})}">Editar</a> |
                    <a th:href="@{/familiasMenu/delete/{nroFamilia}(nroFamilia=${familia.nroFamilia})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>