<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Preparacion</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
	<h2 th:text="${formBean.id} ? #{preparacion.editar.titulo}: #{preparacion.alta.titulo}" />
	   <form th:action="${formBean.id} ? @{/preparacionesMenu/editar}:@{/preparacionesMenu/alta}" th:object="${formBean}" method="post">
		<table border="0">
		<tr>
		<input type="hidden" id="id" th:field="*{id}">
		<td><label for="idreceta">Receta:</label></td>
		<td th:if="${formBean.id}"><select id="idreceta" th:field="*{idreceta}" required>
			<option th:each="r : ${recetas}" 
				th:value="${r.id}" 
				th:text="${r.nombre}"></option>
		</select></td>
		<td th:unless="${formBean.id}">
			<label th:text="*{nombreReceta}"></label>
		</td>
		</tr>
		<tr>
		<td><label for="totalRacionesPreparadas">Total Raciones Preparadas:</label></td>
		<td><input type="number" id="totalRacionesPreparadas" th:field="*{totalRacionesPreparadas}" required /></td>
		</tr>
		<tr th:if="${formBean.id}">
		<td><label for="stockRacionesRestantes">Stock Raciones Restantes:</label></td>
		<td><input type="number" id="stockRacionesRestantes" th:field="*{stockRacionesRestantes}" required /></td>
		</tr>
		<tr>
		<td><label for="fechaCoccion">Fecha Cocción:</label></td>
		<td><input type="date" id="fechaCoccion" th:field="*{fechaCoccion}" required /></td>
		</tr>
		<tr>
	    <td><button type="submit" th:text="${formBean.id} ? #{preparacion.editar.boton}: #{preparacion.alta.boton}"></button></td>
		</tr>
		<tr>
		<td><h2 th:text="${errorMsg}"/></td>
		</tr>
		<tr>
		<td><a th:href="${formBean.id} ? @{/preparacionesMenu/listado}: @{/preparacionesMenu}">← Volver</a></td>
		</tr>
	   </form>
	   
</body>
</html>