<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alta de Receta</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
	<h1>Dar de Alta una Receta</h1>
	<div th:if="${success}" style="color: green; font-weight: bold;">
	    <p th:text="${success}"></p>
	</div>
	    <form th:action="@{/recetasMenu/alta}" th:object="${receta}" method="post">
	        <label for="nombre">Nombre:</label>
	        <input type="text" id="nombre" th:field="*{nombre}" required />
			<label for="descripcion"> Descripcion</label>
			<input type="text" id="descripcion" th:field="*{descripcion}" required />
			
			<h3>Ingredientes</h3>
			<div th:each="item, iterStat : *{items}">
			    <select th:field="*{items[__${iterStat.index}__].ingrediente.id}">
			        <option th:each="ing : ${ingredientes}" th:value="${ing.id}" th:text="${ing.nombre}"></option>
			    </select>
			    <input type="number" th:field="*{items[__${iterStat.index}__].cantidad}" min="1" step="1" placeholder="cantidad" />
			    <input type="number" th:field="*{items[__${iterStat.index}__].calorias}" min="0" step="1"  placeholder="calorias"/>
			</div>
			<button type="submit" name="addItem">Agregar ingrediente</button>
	        <button type="submit" name="saveRecipe">Guardar</button>
	    </form>
	    <a th:href="@{/recetasMenu}">← Volver al Menú</a>
</body>
</html>